@model TechnoSale.MvcWebUI.Models.UrunUpdateViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Ürün Güncelle</h2>

<form asp-controller="Admin" asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Urun.urun_adi"></label>
        <input asp-for="Urun.urun_adi" class="form-control" placeholder="Ürün Adı" />
        <span asp-validation-for="Urun.urun_adi"></span>
    </div>
    <div class="form-group">
        <label asp-for="Urun.urun_detay"></label>
        <input asp-for="Urun.urun_detay" class="form-control" placeholder="Ürün Detayı" />
        <span asp-validation-for="Urun.urun_detay"></span>
    </div>
    <div class="form-group">
        <label asp-for="Urun.urun_marka"></label>
        <input asp-for="Urun.urun_marka" class="form-control" placeholder="Ürün Markası" />
        <span asp-validation-for="Urun.urun_marka"></span>
    </div>
    <div class="form-group">
        <label asp-for="Urun.urun_stok"></label>
        <input asp-for="Urun.urun_stok" class="form-control" placeholder="Ürün Stoğu" />
        <span asp-validation-for="Urun.urun_stok"></span>
    </div>
    <div class="form-group">
        <label asp-for="Urun.urun_fiyat"></label>
        <input asp-for="Urun.urun_fiyat" class="form-control" placeholder="Ürün Fiyatı" />
        <span asp-validation-for="Urun.urun_fiyat"></span>
    </div>
    <div class="form-group">
        <label asp-for="Urun.urun_puan"></label>
        <input asp-for="Urun.urun_puan" class="form-control" placeholder="Ürün Puanı" />
        <span asp-validation-for="Urun.urun_puan"></span>
    </div>
    <div class="form-group">
        <label asp-for="Urun.kategori_id"></label>
        <select asp-for="Urun.kategori_id" class="form-control" asp-items="@(new SelectList(Model.Kategoriler,"kategori_id","kategori_adi"))"></select>
        <span asp-validation-for="Urun.kategori_id"></span>
    </div>
    <input type="hidden" asp-for="Urun.urun_id"/>
    <input type="submit" value="Ürünü Güncelle" class="btn btn-xs btn-success" />
</form>