@model TechnoSale.MvcWebUI.Models.KampanyaListViewModel

<div class="list-group">
    @foreach (var kampanya in Model.Kampanyalar)
    {
        <a href="#" class="list-group-item">@kampanya.kampanya_fiyat</a>
    }

</div>
