@model TechnoSale.MvcWebUI.Models.CartSummaryViewModel

<ul class="dropdown-menu">
    @foreach(var item in Model.Cart.CartLines)
    {
        <li>
            <a>@item.Urun.urun_adi <span class="badge">@item.urun_adet</span></a>
        </li>
    }
    <li role="separator" class="divider"></li>
    <li>
        <a><span class="glyphicon glyphicon-align-left glyphicon-shopping-cart" aria-hidden="true"></span>@Model.Cart.Total</a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
        <a asp-controller="Cart" asp-action="List">Sepet detaylarına git</a>
    </li>
</ul>
