@model TechnoSale.MvcWebUI.Models.KategoriListViewModel

<div class="list-group">
    @foreach (var kategori in Model.Kategoriler)
    {
        var css = "list-group-item";
        if (kategori.kategori_id==Model.CurrentKategori)
        {
            css += " active";
        }
        <a href="/urun/index?kategori=@kategori.kategori_id" class="@css">@kategori.kategori_adi</a>
    }

</div>
