@model TechnoSale.MvcWebUI.Models.UrunListViewModel

@{
    Layout = "~/Views/_Layout.cshtml";
}
	<div>
        <table class="table table-responsive ">
            <tr>
                <td>Urun Adi            </td>
                <td>Urun Detay          </td>
                <td>Urun Marka          </td>
                <td>Urun Fiyat          </td>
            </tr>
            @foreach (var urun in Model.Urunler)
            {
                <tr>
                    <td>@urun.urun_adi</td>
                    <td>@urun.urun_detay</td>
                    <td>@urun.urun_marka</td>
                    <td>@urun.urun_fiyat</td>
                </tr>
            }
        </table>
	</div>